.list-question-number {
    width: 28px;
    height: 28px;
    background-color:#E6E9EE;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    margin-bottom: 9px;
    cursor: pointer;
}

.active {
    border: 1px solid orange;
}

.answered {
    background-color: green;
    color: #ffffff;
}